<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maeztra</title>
    <link rel="stylesheet" href="/layout/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sub-header">
        <span>Acompanhe as melhores promoções disponíveis aqui na Maeztra.</span>
    </div>
    <div class="active"></div>
    <div class="modal">
        <div class="conteudo-modal">
            <img class="popup-desk" src="/layout/images/img-modal.png" alt="modal-img">
            <span class="close-btn">FECHAR</span>
            <div class="text-modal">
                <img src="/layout/images/newsletter-mail-icon.png" alt="">
                <span>BEM VINDO A MAEZTRA</span>
                <p>Receba em Primeira mão<br>
                    <strong>desconto e ofertas exclusivas</strong></p>
                <input type="text" placeholder="Digite seu e-mail">
                <button>ENVIAR</button>
            </div>
        </div>
    </div>

    <header>
        <div class="header-mobile">
            <div class="menu-lateral">
                <span class="barra-menu"></span>
                <span class="barra-menu"></span>
                <span class="barra-menu"></span>
            </div>
            <div class="logo-mobile">
                <img src="/layout/images/logo-maeztra-novo.png" alt="Logo Maeztra">
            </div>
            <div class="menu-mobile">
                <img src="/layout/images/busca.png" alt="">
                <img src="/layout/images/sacola.png" alt="">
            </div>
        </div>
        <div class="container">
            <div class="header-desktop">
                <div>
                    <img src="/layout/images/logo-maeztra-novo.png" alt="Logo Maeztra">
                </div>
                <div class="input-topo">
                    <input class="input-header" placeholder="O Que Você Busca?" type="text">
                    <button>Buscar</button>
                </div>
                <div>
                    <nav>
                        <ul class="menu-item">
                            <li>
                                <img src="/layout/images/Vector.png" alt="User">
                                <span>Minha Conta</span>
                            </li>
                            <li>
                                <img src="/layout/images/favorito.png" alt="User">
                                <span>Minha Conta</span>
                            </li>
                            <li class="sacola">
                                <img src="/layout/images/sacola.png" alt="User">
                                <span>Meu Carrinho</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="menu-departamento">
        <div class="container-menu">
            <nav class="nav-menu">
                <ul class="lista-departamento">
                    <li class="news">
                        <img src="/layout/images/news.png" alt="">
                        <span>Novidades</span>
                    </li>
                    <li>
                        <span>Vestidos</span>
                    </li>
                    <li>
                        <span>Roupas</span>
                    </li>
                    <li>
                        <span>Sapatos</span>
                    </li>
                    <li>
                        <span>Lingerie</span>
                    </li>
                    <li>
                        <span>Acessórios</span>
                    </li>
                    <li>
                        <span>OUTLET</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="fullbaner-mobile">
        <div>
            <img src="/layout/images/banner-mobile.png" alt="fullbaner">
        </div>
    </div>

    <div class="fullbaner">
        <div>
            <img src="/layout/images/fullbaner.png" alt="fullbaner">
           <div class="text-img">
            <span>Promoções de Outono</span>
            <p>Confira os melhores looks para combinar com você nesse Outono</p>
            <button>Conferir</button>
           </div>
        </div>
        <div>
            <img src="/layout/images/fullbaner.png" alt="fullbaner">
            <div class="text-img">
                <span>Promoções de Outono</span>
                <p>Confira os melhores looks para combinar com você nesse Outono</p>
                <button>Conferir</button>
               </div>
        </div>
        <div>
            <img src="/layout/images/fullbaner.png" alt="fullbaner">
            <div class="text-img">
                <span>Promoções de Outono</span>
                <p>Confira os melhores looks para combinar com você nesse Outono</p>
                <button>Conferir</button>
               </div>
        </div>
    </div>

    <div class="menu-beneficios">
        <div class="container-beneficios">
            <h2>Por que comprar na Maeztra?</h2>
            <nav>
                <ul class="lista-beneficios">
                    <li class="item-beneficio">
                        <img src="/layout/images/item-beneficio.png" alt="">
                        <div class="beneficios-text" >
                            <span>Produtos Importados</span>
                            <p>Produtos de Alta Qualidade</p>
                        </div>
                    </li>
                    <li class="item-beneficio">
                        <img src="/layout/images/planet.png" alt="">
                        <div class="beneficios-text">
                            <span>Estoque no Brazil</span>
                            <p>Produtos mais perto de você!</p>
                        </div>
                    </li>
                    <li class="item-beneficio">
                        <img src="/layout/images/estoque.png" alt="">
                        <div class="beneficios-text">
                            <span>Trocas Garantidas</span>
                            <p>Troca em até 48 horas, veja as regras</p>
                        </div>
                    </li>
                    <li class="item-beneficio">
                        <img src="/layout/images/desconto.png" alt="">
                        <div class="beneficios-text">
                            <span>Ganhe 5% off</span>
                            <p>Pagando a vista no cartão</p>
                        </div>
                    </li>
                    <li class="item-beneficio">
                        <img src="/layout/images/frete.png" alt="">
                        <div class="beneficios-text">
                            <span>Frete Grátis</span>
                            <p>Em compras acima de R$499,00</p>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="menu-beneficios">
        <div class="container-beneficios marca">
            <h2>Marcas Parceiras</h2>
            <nav>
                <ul class="lista-beneficios">
                    <li class="item-marca">
                        <img src="/layout/images/comma.png" alt="">
                      
                    </li>
                    <li class="item-marca">
                        <img src="/layout/images/melissa.png" alt="">
                      
                    </li>
                    <li class="item-marca">
                        <img src="/layout/images/forever.png" alt="">
                     
                    </li>
                    <li class="item-marca">
                        <img src="/layout/images/zara.png" alt="">

                    </li>
                    <li class="item-marca">
                        <img src="/layout/images/ann-taylor.png" alt="">

                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="vitrine">
        <h2>As Mais Pedidas</h2>
        <section class="section-vitrine">
            <div class="item-vitrine">
                <img src="/layout/images/item-vitrine.png" alt="Roupa">
                <div class="colors">
                    <span class="yellow"></span>
                    <span class="salmao"></span>
                    <span class="azul-claro"></span>
                    <span class="roxo"></span>
                </div>
                <p class="price">R$ 500,00</p>
                <h3>Faux Suede Mini Skirt</h3>
                <p class="description">A faux suede mini skirt featuring exposed button-front closures and panel seam construction.</p>
                <button>Adicionar</button>
            </div>
            <div class="item-vitrine">
                <img src="/layout/images/item-vitrine2.png" alt="Roupa">
                <div class="colors">
                    <span class="preto"></span>
                    <span class="vermelho"></span>
                    <span class="bege"></span>
                    <span class="branco"></span>
                </div>
                <p class="price">R$ 320,00</p>
                <h3>Ruched Rose Print Mini Skirt</h3>
                <p class="description">A satin mini skirt featuring an allover floral print, ruched side with self-tie closure, concealed back zipper, and a flounce hem.</p>
                <button>Adicionar</button>
            </div>
            <div class="item-vitrine">
                <img src="/layout/images/item-vitrine.png" alt="Roupa">
                <div class="colors">
                    <span class="yellow"></span>
                    <span class="salmao"></span>
                    <span class="azul-claro"></span>
                    <span class="roxo"></span>
                </div>
                <p class="price">R$ 500,00</p>
                <h3>Faux Suede Mini Skirt</h3>
                <p class="description">A faux suede mini skirt featuring exposed button-front closures and panel seam construction.</p>
                <button>Adicionar</button>
            </div>
            <div class="item-vitrine">
                <img src="/layout/images/item-vitrine2.png" alt="Roupa">
                <div class="colors">
                    <span class="preto"></span>
                    <span class="vermelho"></span>
                    <span class="bege"></span>
                    <span class="branco"></span>
                </div>
                <p class="price">R$ 320,00</p>
                <h3>Ruched Rose Print Mini Skirt</h3>
                <p class="description">A satin mini skirt featuring an allover floral print, ruched side with self-tie closure, concealed back zipper, and a flounce hem.</p>
                <button>Adicionar</button>
            </div>
            <div class="item-vitrine">
                <img src="/layout/images/item-vitrine.png" alt="Roupa">
                <div class="colors">
                    <span class="yellow"></span>
                    <span class="salmao"></span>
                    <span class="azul-claro"></span>
                    <span class="roxo"></span>
                </div>
                <p class="price">R$ 500,00</p>
                <h3>Faux Suede Mini Skirt</h3>
                <p class="description">A faux suede mini skirt featuring exposed button-front closures and panel seam construction.</p>
                <button>Adicionar</button>
            </div>
        </section>
    </div>

    <div class="info-colecao">
        <div class="text-colecao">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum mauris posuere fusce proin mattis. Hendrerit cras ut nunc enim dictum. Mattis proin ut quis donec sed eget nulla. Vel mi ut mauris integer. Nibh sagittis in lobortis sed cursus condimentum velit pharetra. Amet luctus ut vulputate scelerisque placerat consequat. Neque arcu mi iaculis id. Vel vitae, pharetra, a nec tristique. Feugiat id tortor eu mauris pulvinar velit massa. Ut ornare augue eget convallis volutpat aliquet. Sed sed pellentesque porttitor phasellus donec condimentum sit sapien.</p>
        </div>
        <img src="/layout/images/banner-coleçao.png" alt="">
    </div>

    <div class="newsletter">
        <label>Recebe Nossa Newsletter</label>
        <input type="text" placeholder="Digite seu e-mail">
        <button>Enviar</button>
    </div>

    <div class="newsletter-mobile">
        <label>Recebe Nossa Newsletter</label>
        <div class="form-mobile">
            <input type="text" placeholder="Digite seu e-mail">
            <button>Enviar</button>
        </div>
    </div>

    <footer>
        <div class="footer-inst">
            <ul>Informações
                <li>Quem Somos</li>
                <li>Prazo de Envio</li>
                <li>Trocas e Devoluções</li>
                <li>Promoções e cupons</li>
            </ul>
            <ul>Minha Conta
                <li>Minha Conta</li>
                <li>Meus Pedidos</li>
                <li>Cadastre-se</li>
            </ul>
            <ul>Onde nos Encontrar
                <li>Lojas</li>
                <li>Endereço</li>
            </ul>
        </div>
    </footer>

    <div class="footer-mobile">
        <button class="accordion">Informações</button>
        <div class="panel">
            <li>Quem Somos</li>
            <li>Prazo de Envio</li>
            <li>Trocas e Devoluções</li>
            <li>Promoções e cupons</li>
        </div>

        <button class="accordion">Minha Conta</button>
        <div class="panel">
            <li>Minha Conta</li>
            <li>Meus Pedidos</li>
            <li>Cadastre-se</li>
        </div>

        <button class="accordion">Onde nos Encontrar</button>
        <div class="panel">
            <li>Lojas</li>
            <li>Endereço</li>
        </div>
    </div>


    <div class="copy-footer">
        <div class="grupo-social">
            <img src="/layout/images/logo-fb.png" alt="">
            <img src="/layout/images/logo-linkedin.png" alt="">
            <img src="/layout/images/logo-insta.png" alt="">
            <img src="/layout/images/logo-ytb.png" alt="">
        </div>
        <div class="grupo-pagamento">
            <img src="/layout/images/visa.png" alt="">
            <img src="/layout/images/mastercard.png" alt="">
            <img src="/layout/images/visa.png" alt="">
            <img src="/layout/images/mastercard.png" alt="">
        </div>
        <div class="grupo-empresa">
            <div class="vtex">
                <span>Powered by</span>
                <img src="/layout/images/vtex.png" alt="">
            </div>
            <div class="maeztra">
                <span>Developed by</span>
                <img src="/layout/images/maeztra.png" alt="">
            </div>
        </div>
    </div>

    





      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <script src="/layout/index.js"></script>
</body>
</html>